@page "/"


<PageTitle>Index</PageTitle>

	<!-- partial:index.partial.html -->
	<div class="box-form">
		<div class="left">
			<div class="overlay">
				<h1>Browse Car</h1>
				<p>
					Click down to brows the Car
				</p>
				<a href="home">
				<button type="button" class="BrowseBtn">Browse</button>
				</a>
			</div>
		</div>
		<div class="right">
			<h5>Login</h5>
			<p>Don't have an account? <a href="signup" >Creat Your Account</a> it takes less than a minute</p>
			<div class="inputs">
				<input type="text" placeholder="user name">
				<br>
				<input type="password" placeholder="password">
			</div>
			<br><br>
			<br>
		<div class="d-flex justify-content-between">
			
			<button class="btn btn-primary mr-2" >Login</button>
			<a href="signup">
			<button class="btn btn-secondary">Signup</button>
			</a>	
		</div>
		</div>
	</div>
	<!-- partial -->

