@page "/signup"


<PageTitle>Signup</PageTitle>
<div class="box-form">
	<div class="left">
		<div class="overlay">
			<h1>Browse Car</h1>
			<p>
				Click down to brows the Car
			</p>
			<button type="button" class="BrowseBtn">Browse</button>
		</div>
	</div>
	<div class="right">
		<h5>Signup</h5>
		<p> Signup for free</p>
		<div class="inputs"> 
			<input type="text" placeholder="user name">

			<input type="text" placeholder="email">
			<br>
			<input type="password" placeholder="password">
		</div>
		<br><br>
		<br>
		<div class="d-flex justify-content-between">
				<a href="/">
			<button class="btn btn-primary mr-2">Login</button>
			</a>
			<button class="btn btn-secondary">Signup</button>
		</div>
	</div>
</div>